<% include partials/header %>

  <div class="container">
    <div class="jumbotron">
      <h1>Drug-gene Retriever</h1>
    </div>
    <form action="/searchResults" method="GET">
      <input type="text" name="searchTerm" placeholder="Disease name">
      <input type="submit" value="Search from WebMD">
    </form>
  </div>

<% include partials/footer %>
