<% include partials/header %>
<script type="text/javascript" src="/js/searchResults.js"></script>
<link rel="stylesheet" type="text/css" href="/css/searchResults.css">

<div class = "container">
  <div class="jumbotron">
    <h1>Search Results</h1>
  </div>
  <ul>
    <% values.forEach (value => { %>
      <li>
        <strong> <%= value.title %> </strong>
        <p class='abstractText' > <%= value.abstract %> </p>
      </li>
    <% }); %>
  </ul>
</div>

<% include partials/footer %>

<script>
function highlightText() {
  <% console.log (geneNames); %>
  var geneNames = "<%= geneNames; %>".split(",");
  var drugNames = ['Abraxane', 'Gemzar', 'Onxol', 'Nanoparticles'];
  $('.abstractText').each (function() {
    $this = $(this).text().split(' ');
    var str = '';
    $this.forEach(function(value) {
        if (geneNames.indexOf(value) != -1) {
          str = str + " <span class=tempClass>" + value + "</span>";
        } else if (drugNames.indexOf(value) != -1) {
          str = str + " <span class=tempClass2>" + value + "</span>";
        }
        else
          str = str + " " + value;
    })
    $(this).html(str);
  });
}

$(document).ready (highlightText);
</script>
