<% include partials/header %>
<script type="text/javascript" src="/js/searchResults.js"></script>

<div class = "container">
  <div class="jumbotron">
    <h1>Search Results</h1>
  </div>
  <ul>
    <% values.forEach (value => { %>
      <li>
        <strong> <%= value.title %> </strong>
        <p class='abstractText' > <%= value.abstract %> </p>
      </li>
    <% }); %>
  </ul>
</div>

<style>
  .tempClass {
    color: blue;
  }
</style>

<% include partials/footer %>
