<% include partials/header %>
<div class = "container">
  <div class="jumbotron">
    <h1>Search Results</h1>
  </div>
  <ul>
    <% values.forEach (value => { %>
      <li>
        <strong> <%= value.title %> </strong>
        <p class='abstractText' > <%= value.abstract %> </p>
      </li>
    <% }); %>
  </ul>
</div>

<style>
  .tempClass {
    color: blue;
  }
</style>

<script type="text/javascript">

  function highlightText() {
    $('.abstractText').each (function() {
    	$(this).addClass("tempClass");
      $this = $(this).text().split(' ');
      $this.forEach(function() {
        console.log('a');
      })
    });
  }

  $(document).ready (highlightText);
</script>
<% include partials/footer %>
